{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'reader/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=WCZevFS7">
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('.read').onclick = () => {
                responsiveVoice.speak(`{{read_text}}`, document.querySelector('select').value,{
                    "pitch": document.querySelector('#pitch').value,
                    "volume": document.querySelector('#volume').value,
                    "rate": document.querySelector('#rate').value,
                })
            }
            document.querySelector('.resume').onclick = () => {
                responsiveVoice.resume()
            }
            document.querySelector('.pause').onclick = () => {
                responsiveVoice.pause()
            }
            document.querySelector('.cancel').onclick = () => {
                responsiveVoice.cancel()
            }
            
        })
        window.onclose = () => {
            responsiveVoice.cancel()
        }
        
    </script>
    <title>Reader</title>
</head>
<body>
    {% if read_text %}
    <input type="range" max="10" min="0" id="volume" value="1"><label for="volume"> Volume</label><br>
    <input type="range" max="10" min="1" id="pitch" value="1"><label for="pitch">Pitch</label><br>
    <input type="range" max="10" min="1" id="rate" value="1"><label for="rate"> Rate</label><br><br>
    <select>
        <option value="US English Male">US English Male</option>
        <option value="US English Female">US English Female</option>
        <option value="Australian Male">Australian Male</option>
        <option value="Australian Female">Australian Female</option>
        <option value="UK English Female">UK English Female</option>
        <option value="UK English Male">UK English Male</option>
    </select><br><br>
    <button class="btn btn-outline-primary read">Read</button>
    <button class="btn btn-outline-warning pause">Pause</button>
    <button class="btn btn-outline-success resume">Resume</button>
    <button class="btn btn-outline-danger cancel">Cancel</button>
    {% else %}
    <br>
    <audio src="{% static 'reader/audio.mp3' %}" controls></audio>
    {% endif %}
    <br><br>
    {{text}}
</body>
</html>