<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
</head>
<body>
    <h1>Q&A</h1>
    <h3>How can I get the book's pdf file location?</h3>
    <p>
        First, go to the folder that contain the file.<br>
        <img src=""><br>
        Then, right-click the file and choose properties<br>
        <img src=""><br>
        Here, you will see a bunch of information about the files. You need to find location and then copy it, also don't forget to add the file name to the path.
        <img src=""><br>
        <img src="">
    </p>
</body>
</html>